@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .admin-navbar-item {
        @apply bg-blue-200 h-[50px] border-black flex items-center justify-center
                hover:bg-blue-500;
    }

    .input-container {
        @apply border-2 border-black rounded-md p-2 
                focus:border-2 focus:border-blue-600;
    }

    .label {
        @apply font-bold text-3xl;
    }

    .btn {
        @apply h-[40px] px-2 text-center rounded bg-sand-navbar
        hover:bg-amber-700 hover:text-slate-300;
    }

    .nav-link {
        @apply px-3 py-2 rounded-md; 
    }

    .nav-link .active {
        @apply bg-gray-900 text-white;
    }

    .nav-link:hover {
        @apply bg-sand-font text-white
    }

    @media (min-width: 768px) {
        .hamburger-menu {
            display: none !important;
        }
    }

    .nav-item:hover {
        @apply rounded bg-amber-700 text-slate-300;
    }
    
    .nav-item-dropped {
        @apply block md:hidden;
    }

    .dropdown {
        @apply bg-sand-navbar flex flex-col;
    }

    .nav-item-dropped {
        @apply ml-4 mb-2;
    }

    table {
        @apply table-fixed w-full px-3 py-2;
    }

    td, th {
        @apply py-2 px-3;
    }

    th {
        @apply text-left;
    }

    #contacts tbody tr:nth-child(even) {
        @apply bg-slate-200;
    }
}